

/* GLOBAL STYLES
-------------------------------------------------- */

html,
body {
    height: 100%;
    background-color: #fdfdfd;
    text-align: center;
    color: #555;
    -webkit-font-smoothing: antialiased !important;
}

/* BRANDING
============================================================ */

.brand-link {
    font-weight: 300;
    letter-spacing: 2px;
    color: #555;
    font-size: 20px;
	text-decoration: none;
}

.logo-img {
}

.logo-kampnik {
    height: 72px;
    width: 72px;
}

/* CONTAINER
============================================================ */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.cover {
    padding: 0 20px;
}

.mastfoot {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}

a, a:hover {
    color: #333;
}

